body {
  margin: 0;
}

.head {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.head-light {
  background-color: #87cefa;
}

.head-dark {
  background-color: #000;
  color: #fff;
}

.head-text {
  margin-left: 20px;
  font-size: 250%;
}

.hello {
  margin-right: 20px;
  font-size: large;
}

.register {
  margin-right: 20px;
}

.hidden {
  display: none;
}
